.sai
{
  width:700px;
}
.navColor{
  color:white!important;
  font-weight:bold !important;
}
#navbarScrollingDropdown
{
  color:white;
}
.imgGrocery{
  /* text-align:center; */
  color:black;
}
.allGroceryImg{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  text-align:center;
}