.sai
{
  width:700px;
}
 
.navColor{
  color:white!important;
  font-weight:bold !important;
}
.allCardss{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;

}
#navbarScrollingDropdown
{
  color:white;
}
.imgGrocery{
  /* text-align:center; */
  color:black;
}
.allGroceryImg{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  text-align:center;
}